.li_bg{background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ded5d5), to(rgba(104, 104, 115, 0.5)));}

div .m1_ila img{transition: 1s;}
div .m1_ila img:hover{
    transform: scale(1,1);
}

.m1_ilb{
    top:25%;
    left: 25%;
    z-index: 10;
}

.m1_i1_text{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 10%;
    z-index: 20;
}

.m2_i1_text{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 10%;
    z-index: 20;
    color:#fff;
}

.m3_bto{
    height: 24px;
    line-height: 16px;
    margin-top: 30px;
    margin-left: 45%;
    cursor: pointer;
    float: left;
}

.p-bg{
    font-size: 18px;
    color:#353535;
}

.m3_m{
    padding: 0px !important;
}

