.li_bg{background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ded5d5), to(rgba(104, 104, 115, 0.5)));}

div .m1_ila img{transition: 1s;}
div .m1_ila img:hover{
    transform: scale(1,1);
}

.m1_ilb{
    top:25%;
    left: 25%;
    z-index: 10;
    display: flex;
}

.m1_i1_text{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 10%;
    z-index: 20;
}

.m2_i1_text{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 10%;
    z-index: 20;
    color:#fff;
}

.m3_bto{
    height: 24px;
    line-height: 16px;
    margin-top: 30px;
    margin-left: 45%;
    cursor: pointer;
    float: left;
}



.m3_m{
    padding: 0px !important;
}

.top-1{
    top:322px;
    position: absolute;
}

.m2_wg{
    right:44%;
    bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
}
.m2_wg div{
    margin: 0 10px;
}
.p_bg3{
    font-weight: bold;
    z-index: 99;
    font-size: 22px;
    color:#353535;
    top: 50%;
    left: 10%;
}

.p_bg4{
    font-weight: bold;
    z-index: 100;
    font-size: 22px;
    color:#fff;
    top: 50%;
    right: 10%;
}

.a_di{
    width:88px;
    height: 26px;
    display: block;
    background:#ccc;
    font-size: 12px;
    color:#353535 !important;
    line-height: 26px;
    z-index: 200;
    padding: 3px 10px;
    margin-top: 8px;
    text-decoration: none !important;
}

.a_di1{
    width:88px;
    height: 26px;
    display: block;
    background:#fff !important;
    font-size: 12px;
    color:#353535 !important;
    line-height: 26px;
    z-index: 300;
    padding: 3px 10px;
    margin-top: 8px;
    text-decoration: none !important;
}

.width_kg img{
    width:210px;
    height: 130px;
}

.m2_wg1{
    right:50px;
    top: 50px;
    display: flex;
    flex-flow: row nowrap;
}