.container div p.m1_title1{
    font-size: 18px;
    height: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
    text-align: center;
    width: 100%;
    color:#353535;
}

.m1_title2{
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    line-height: 30px;
    color: #272727;
}

.m1_title3{
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #272727;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 50px;
}

.m1_title4{
    font-size: 18px;
    height: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
    text-align: center;
    width: 100%;
    color:#353535;
}

.m1_title5{
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    line-height: 30px;
    color: #272727;
}

.m1_title6{
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #272727;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 50px;
}

.m1_title7{
    font-size: 18px;
    height: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
    text-align: center;
    width: 100%;
    color:#353535;
}

.m1_title8{
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #272727;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 50px;
}

.m1_title9{
    font-size: 18px;
    height: 40px;
    font-weight: bold;
    margin: 60px 0 20px 0;
    text-align: center;
    width: 100%;
    color:#353535;
}

.m1_title10{
    margin: 60px 0 20px 0;
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    line-height: 30px;
    color: #272727;
}

.m1_p_title1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 36px;
    text-align: center;
    color: rgb(53,53,53);
}

.m1_p_title2{
    font-size: 15px;
    color: #272727;

}

p.m1_p_title_2{
    font-size: 15px;
    color: #272727;
    height: 139px;
}

 .bottom_1{
    border-bottom: 2px dashed #ccc;
     clear: both;
     padding-bottom: 50px;
}

.m1_p_title3{
    font-size: 20px;
    height: 40px;
    margin: 60px 0 20px 0;
    text-align: center;
    color: rgb(53,53,53);
}

.m1_p_title4{
    margin-left: 100px;
    font-size: 15px;
    font-weight: bold;
    color:#000;
}

.m1_p_title5 {
    margin-right: 100px;
    font-size: 15px;
    font-weight: bold;
    color:#000;
}

div a:hover{
    text-decoration: none !important;
}



